body {
  background-color: #efeeee;
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
  color: #0b1440;
}

h1 {
  font-family: 'PT Sans Narrow', sans-serif;
}

/* Header: logo/headline */
.headline h1 {
  font-size: 4em;
  text-align: left;
}

.signin h1 {
  font-size: 2.5em;
}

/* Header: main-nav */
.main-nav ul {
  list-style-type: none;
  text-align: right;
}

