html, body, #container, main, .tab-container, #landing-page, #signup-page, #setup-page, #dashboard-page {
 height: 100%;
}

#container {
   position: relative;
}

.tab-container {
  margin: 3%;
}

/* Header */
.main-header, .main-nav {
  position: absolute;
  display: block;
  width: 100%;
}

/* Header: main-nav */
.main-nav ul {
  display: block;
  padding: 0;
  text-align: right;
}

.main-nav li {
  padding-right: 2%;
  display: inline-block;
}

/* Images */
.logo {
  display: block;
  width: 15%;
  text-align: left;
}

.background-image img {
  display: flex;
  width: 100%;
  height: 100%;
}